.icon {
    width: 70%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.container {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}