.icon {
    width: 70%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.container {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.objects {
    margin: 0 10px;
}

.varios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.boton {
    width: 80px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #161313;
    border-color: #eee;
}